<div class="container">

    <div class="flex justify-between items-center text-lg">
        <div>
            <label>
                <%=blogs.first_name%>
                    <%=blogs.last_name%>
            </label>
            <label>2 days ago · 3 min</label>
        </div>

        <div class="flex items-center gap-5">
            <div>
                <a href="/theblog/blogs/<%=blogs._id%>/editblog" id="button">Edit Blog</a>
                <a href="#" id="button">Delete Blog</a>
            </div>
            
            <div>
                <a href="#">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="article">
        <div class="section">
            <h1 class="text-5xl">
                <%=blogs.title%>
            </h1>
            <p>
                <%=blogs.description%>
            </p>
        </div>
        <div class="section">
            <p>
                <%=blogs.blog%>
            </p>
        </div>
    </div>

</div>