    <div class="container">
        <div class="flex justify-between text-lg">
            <div>
                <label><%=blogs.first_name%> <%=blogs.last_name%> </label>
                <label>2 days ago · 3 min</label>
            </div>
            <div>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
    
        <div class="article">
            <div class="section">
                <h1 class="text-5xl"><%=blogs.title%></h1>
                <p><%=blogs.description%></p>
            </div>
            <div class="section">
                <p><%=blogs.blog%></p>
            </div>
        </div>
    
    </div>
